* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: helvetica, sans-serif;
}

/* proprietà per definire i blocchi */

.col_75 {
  width: 75%;
}

.col_50 {
  width: 50%;
}

.col_33 {
  width: calc((100% - 80px) / 3);
}

.col_25 {
  width: 25%;
}

.row > div[class*="col_"] {
  float: left;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

/* proprietà che definiscono i colori */

nav, .start {
  background-color: #FFFFFF;
}

.marketing, .sales, .service, .free {
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

footer {
  background-color: #32495C;
  color: white;
}

header > div.row:first-child, main .description {
  background-color: #F4F9FD;
}

header, header a {
  color: grey;
}

main .intro {
  background-color: #FFF2EF;
  background-image: url('../img/hero.svg');
  background-position: right;
  background-repeat: no-repeat;
  border-bottom: 3px solid #10003A;
}

main .community {
  background-color: #00B3AF;
}

button.login {
  color: orange;
  background-color: white;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 3px;
}

button.get-free {
  color: white;
  background-color: orange;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 3px;
}

button.main-button {
  color: white;
  background-color: orange;
  padding: 15px;
  border: 1px solid orange;
  border-radius: 3px;
}

button.support {
  color: lightblue;
  background-color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
}
/* proprietà di layout */

.container {
  width: 70%;
  margin: auto;
}

header select {
  height: 30px;
  background-color: transparent;
  border: 0;
  color: grey;
}

.search {
  color: aqua;
  padding: 5px;
}

.f-right {
  float: right;
  margin: 5px;
}

a {
  text-decoration: none;
}

.margin10 {
  margin: 10px
}

.logo > img {
  height: 30px;
}

.menu {
  height: 30px;
  line-height: 30px;
}

.menu ul > li {
  display: inline-block;
  float: right;
  padding: 10px;
  margin: 5px;
}

.menu ul > li a {
  padding: 12px;
  font-size: 15px;
}

.intro {
  padding: 70px 0 244px 0;
}

.intro h1 {
  font-size: 45px;
  padding: 15px 0;
}

.h-center {
  text-align: center;
}

.presentation {
  padding: 40px 200px;
}

.presentation h2 {
  padding-bottom: 15px;
}

.free {
  padding: 20px 100px;
}

.free hr {
  position: relative;
  top: 20px;
}

h2, h3 {
  padding-bottom: 20px;
}

h4 {
  padding: 15px 0;
}

i.fa-check-circle {
  color: orange;
}

img.logo {
  width: 170px;
  height: 140px;
}

.col_75 ul.feature > li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
}

.col_33 ul.feature > li {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 10px;
}

.sales {
  margin-left: 40px;
  margin-right: 40px;
}

.community {
  color: white;
  padding: 20px 0;
}

table {
  margin: auto;
  padding: 30px;
}

td {
  padding: 10px;
}

tr:first-child > td {
  border-bottom: 1px solid white;
}

td:nth-child(1n+2) {
  border-left: 1px solid white;
}

table img, table i {
  width: 120px;
  height: 45px;
}

.data {
  height: 40px;
  line-height: 40px;
  font-size: 30px;
}

.start img[alt="icons"] {
  display: inline-block;
  max-width: 400px;
  position: relative;
  top: 50px;
}

.start .col_25 {
  max-width: 200px;
  padding: 20px;
}

img.girl {
  max-width: 200px;
  position: relative;
  left: 100px;
}

ul.footer-list li a {
  text-decoration: none;
  color: lightgrey;
}

.language li, .policy li {
  display: inline-block;
  padding: 20px;
}

footer .logo img {
  width: 100px;
}
