* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav, footer > .start, .marketing, .sales, .service, .free {
  background-color: #FFFFFF;
}

footer {
  background-color: #32495C;
}

.h100 {
  height: 100px;
  border: 1px solid black;
}

.h300 {
    height: 300px;
    border: 1px solid black;
}

.h500 {
  height: 500px;
  border: 1px solid black;
}

.settings-bar, main .description {
  background-color: #F4F9FD;
}

nav::after, .four-column::after, .three-column::after, .credits::after {
  content: '';
  clear: both;
  display: table;
}

main .intro {
  background-color: #FFF2EF;
}

nav > .logo, nav > .menu {
  float: left;
  width: 50%;
}

main .separator {
  background-color: #AFEBE4;
  border: 2px solid #10003A;
  height: 100px;
}

main .description {
  height: 1000px;
  border: 1px solid black;
  text-align: center;
}

main .community {
  background-color: #00B3AF;
}

.presentation, .free, .three-column {
  width: 75%;
  border: 1px solid black;
  margin: auto;
}

.marketing, .sales, .service {
  float: left;
  width: 33%;
}

.four-column > div {
  float: left;
  width: 25%;
}

.credits > div {
  float: left;
  width: 50%;
}
