* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* proprietà per definire i blocchi */

.col_50 {
  width: 50%;
}

.col_33 {
  width: calc(100% / 3)
}

.col_25 {
  width: 25%;
}

.row > div[class*="col_"] {
  float: left;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

/* proprietà che definiscono i colori */

nav, .start, .marketing, .sales, .service, .free {
  background-color: #FFFFFF;
}

footer {
  background-color: #32495C;
}

header > div.row:first-child, main .description {
  background-color: #F4F9FD;
}

main .intro {
  background-color: #FFF2EF;
}

main .separator {
  background-color: #AFEBE4;
  border: 2px solid #10003A;
  height: 100px;
}

main .community {
  background-color: #00B3AF;
}

button.login {
  color: orange;
  background-color: white;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 3px;
}

button.get-free {
  color: white;
  background-color: orange;
  padding: 5px;
  border: 1px solid orange;
  border-radius: 3px;
}
/* proprietà di layout */

.container {
  width: 70%;
  margin: auto;
}

select {
  height: 30px;
}

.f-right {
  float: right;
  margin: 5px;
}

a {
  text-decoration: none;
}
.margin5 {
  margin: 5px
}

.logo > img {
  height: 50px;
}

ul.menu > li {
  display: inline-block;
  float: right;
  padding: 10px;
  margin: 5px;
}

.intro {
  padding: 30px 0 100px 0;
}
/* classi provvisorie */

.h100 {
  height: 100px;
}

.h300 {
    height: 300px;
}

.h500 {
  height: 500px;
}
